.module {
    cursor: url(/), auto;
}

.title {
    color: coral;
    position: absolute;
    top: 5%;
    left: 5%;
}

body {
    background-image: url(/images/cute.jpg);
    height: 100%;
    position: static;
    margin: auto;
}

frameborder {
    position: fixed;
    border: 5px solid rgb(244, 128, 173);
    left: 0.5%;
    right: 0.5%;
    top: 0.5%;
    bottom: 0.5%;
    pointer-events: none;
}

 a:link, a:visited, a:hover, a:active {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }

box {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    right: 5%;
    top: 2%;
    margin: 2%;
}
box div {
    background-color: aquamarine;
    width: fit-content;
    padding: 0.5em 1em;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 30px
    
}

images {
    display: block;
    position: absolute;
    background-color: blueviolet;
    left: 4%;
    right: 4%;
    top: 16%;
    bottom: 4%;
}

.images {
    display: flex;
    flex-wrap: wrap;
    
    
}



.bg {
    border-radius: 30px;
    background-color: darkred;
    height: fit-content;
}

@font-face {
    font-family: japanfont;
    src: url(/fonts/ATTFShinGoProRegular.ttf);
}
@font-face {
    font-family: jersey25;
    src: url(/fonts/Jersey25-Regular.ttf);
}
@font-face {
    font-family: anton;
    src: url(/fonts/Anton-Regular.ttf);
}
@font-face {
    font-family: Minecraft;
    src: url(/fonts/Minecraft.ttf);
}

.barbutton {
    font-family: japanfont;
}

guestbook {
    position: absolute;
    right: 1%;
    top: 20%;
}

h1 {
    font-family: Minecraft;
}

