.module {
    cursor: url(/), auto;
}

.title {
    color: coral;
    position: absolute;
    top: 5%;
    left: 5%;
}

.leftlist {
    background-color: rgba(190, 144, 27, 0.651);
    width: 15%;
    height: 150%;
    position: absolute;
    left: 3%;
    top: 20%;
    font-family: japanfont;
}
@font-face {
    font-family: jersey25;
    src: url(/fonts/Jersey25-Regular.ttf);
}
@font-face {
    font-family: anton;
    src: url(/fonts/Anton-Regular.ttf);
}

.mainbox {
    background-color: rgba(47, 167, 47, 0.671);
    width: 62%;
    height: 150%;
    position: absolute;
    left: 20%;
    top: 20%;
    font-family: japanfont;
}


body {
    background-image: url(/images/Stars_Background_Black.png);
    height: 100%;
    position: static;
    margin: auto;
}

frameborder {
    position: fixed;
    border: 5px solid rgb(51, 226, 139);
    left: 0.5%;
    right: 0.5%;
    top: 0.5%;
    bottom: 0.5%;
    pointer-events: none;
}

.box {
    width: 62%;
    background-color: darkred;
    font-size: x-large;
    font-family: jersey25;
    color: aquamarine;
    position: absolute;
    left: 20%;
    top: 5%;
}

@font-face {
    font-family: japanfont;
    src: url(/fonts/ATTFShinGoProRegular.ttf);
}

guestbook {
    position: absolute;
    right: 1%;
    top: 20%;
}



h1 {
    font-family: Minecraft;
}

@font-face {
    font-family: Minecraft;
    src: url(/fonts/Minecraft.ttf);
}

.audiobutton {
    position: absolute;
    top: 2%;
    left: 2%;
}


.mainbutton {
    position: fixed;
    right: 8%;
    top: 8%;
    scale: 4;
    width: 30px;
    height: 30px;
    overflow: hidden;
    image-rendering: pixelated;
}

.mainbutton_spritesheet {
    animation: rotatemoonbutton 7s steps(60) infinite
}

@keyframes rotatemoonbutton {
    from {
        transform: translate3d(0px,0,0);
    }
    to {
        transform: translate3d(-100%,0,0);
    }
}